.Editor {
	background-size: cover;
	min-height: 100vh;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

.Editor form {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: calc(100% - 40px);
	max-width: 400px;
	padding: 10px;
	margin: 10px;
	float: left;
}

.Editor input {
	width: calc(100% - 10px);
}

.Editor textarea {
	width: calc(100% - 8px);
	font-family: sans-serif;
	float: left;
}