.Logo {
	float: left;
}

.Logo a {
	float: left;
}

.Logo img {
	height: 100px;
}

.Icon {
	padding: 15px;
	float: left;
}

.Icon:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.Icon img {
	height: 50px;
	float: left;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/