.Tile {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #444;
	width: 200px;
	height: 0;
	padding-bottom: 231px;
	position: relative;
	margin: 10px;
	float: left;
	/* Hex Mask */
	-webkit-clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
	clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
}
.Tile:hover {
	background-color: #555;	
}
.Tiletext {
	color: #fff;
	margin: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}