.Metamask {}

.button {
  background-color: #fa3;
  color: #fff;
  height: 80px;
  padding: 20px;
  border: none;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
}

.button:hover {
  background: #fb2;
}

.address {
  background-color: #fa3;
  color: #fff;
  height: 40px;
  padding: 20px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}

.button img, .address img {
  height: 40px;
  margin-right: 10px;
  float: left;
}